/* Dark Mode */
.converter-container {
  background-image: url(../../images/dark-mode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px;
}
.converter-wrapper {
  /* border: 1px solid red; */
  width: 500px;
  margin: auto;
  padding: 70px 40px;
  background: #28373e;
  color: white;
  border-radius: 10px;
}
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.from-amount-container {
  margin-bottom: 20px;
  display: flex;
}

.from-amount {
  background: #1f2a2f;
  border-right: none;
  padding: 10px 0px 10px 20px;
  border-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-width: 2px;
}

.from-amount-select {
  background: #1f2a2f;
  border-left: none;

  border-color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  font-size: 13.5px;
  /* font-weight: 600; */
  border-width: 2px;
  text-align: right;
  padding: 10px 10px 10px 0px;
  width: 187px;
  letter-spacing: 1px;
}

.to-amount-container {
  display: flex;
  justify-content: space-evenly;
  width: 350px;
  margin: auto;
}

.to-amount {
  background: #1f2a2f;
  border-right: none;
  padding: 10px 0px 10px 20px;
  border-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.to-amount-select {
  background: #1f2a2f;
  border-left: none;
  padding: 10px 10px 10px 0px;
  width: 187px;
  border-color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  font-size: 13.5px;
  /* font-weight: 600; */
  border-width: 2px;
  text-align: right;

  letter-spacing: 1px;
}

.rate {
  background-color: #fff;
  padding: 20px 45px;
  margin-top: 40px;
  color: #010508;
  text-align: left;
  font-size: 18px;
}

.divider {
  color: #fff;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus,
input:focus {
  outline: none;
  background: #fff;
  color: #010508;
}

select:focus {
  outline: none;
}

/* Light Mode */

.light-converter-container {
  background-image: url(../../images/light-mode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0px;
}

.light-converter-wrapper {
  /* border: 1px solid red; */
  width: 500px;
  margin: auto;
  padding: 70px 40px;
  background: #9aa6b4;
  color: #15262e;
  border-radius: 10px;
}

.light-from-amount-select {
  background: #fff;
  border: none;
  border-color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #15262e;
  font-size: 13.5px;
  /* font-weight: 600; */
  border-width: 2px;
  text-align: right;
  padding: 10px 10px 10px 0px;
  width: 187px;
  letter-spacing: 1px;
}

.light-from-amount {
  background: #fff;
  border: none;
  padding: 10px 0px 10px 20px;
  border-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #1f2a2f;
  font-size: 16px;
  font-weight: 600;
  border-width: 2px;
}

.light-to-amount {
  background: #fff;
  border: none;
  padding: 10px 0px 10px 20px;
  border-color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #1f2a2f;
  font-size: 16px;
  font-weight: 600;
}

.light-to-amount-select {
  background: #fff;
  border: none;
  padding: 10px 10px 10px 0px;
  width: 187px;
  border-color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #1f2a2f;
  font-size: 13.5px;
  /* font-weight: 600; */
  border-width: 2px;
  text-align: right;
  letter-spacing: 1px;

}
  


@media screen and (max-width: 480px) {
  .converter-container {
    padding: 200px 0;
  }
  .converter-wrapper {
    width: 300px;
  }
  .header-container h2 {
    font-size: 18px;
  }
  .from-amount-container {
    display: flex;
    justify-content: center;
    width: auto;
    /* margin: auto; */
  }
  .from-amount {
    background: #1f2a2f;
    border-right: none;
    padding: 10px 0px 10px 20px;
    border-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-width: 2px;
    width: 90px;
  }
  .from-amount-select {
    background: #1f2a2f;
    border-left: none;
    border-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    font-size: 10px;
    /* font-weight: 600; */
    border-width: 2px;
    text-align: right;
    /* padding: 10px 10px 10px 0px; */
    width: 136px;
    letter-spacing: 1px;
  }
  .to-amount-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
  }
  .to-amount {
    background: #1f2a2f;
    border-right: none;
    padding: 10px 0px 10px 20px;
    border-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
  }
  .to-amount-select {
    background: #1f2a2f;
    border-left: none;
    padding: 10px 10px 10px 0px;
    width: 146px;
    border-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #fff;
    font-size: 11px;
    /* font-weight: 600; */
    border-width: 2px;
    text-align: right;
    letter-spacing: 0px;
  }
  /* light mode */
  .light-converter-container {
    padding: 200px 0;
  }
  .light-converter-wrapper {
    width: 300px;
  }
  .header-container h2 {
    font-size: 18px;
  }
  .light-to-amount-container {
    display: flex;
    justify-content: center;
    width: auto;
    margin: auto;
  }

  .light-to-amount {
    background: #fff;
    border: none;
    padding: 10px 0px 10px 20px;
    border-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #1f2a2f;
    font-size: 16px;
    font-weight: 600;
    width: 90px;
  }

  .light-to-amount-select {
    background: #fff;
    border: none;
    padding: 10px 10px 10px 0px;
    width: 146px;
    border-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #1f2a2f;
    font-size: 12px;
    /* font-weight: 600; */
    border-width: 2px;
    text-align: right;
    letter-spacing: 0px;
  }

  .light-from-amount-select {
    background: #fff;
    border: none;
    border-color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #15262e;
    font-size: 12px;
    /* font-weight: 600; */
    border-width: 2px;
    text-align: right;
    padding: 10px 10px 10px 0px;
    width: 136px;
    letter-spacing: 0px;
  }

  .light-from-amount {
    background: #fff;
    border: none;
    padding: 10px 0px 10px 20px;
    border-color: #fff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: #1f2a2f;
    font-size: 16px;
    font-weight: 600;
    border-width: 2px;
    width: 90px;
  }
}

