@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,500&family=Uchen&display=swap');

.App {
  text-align: center;
  background-color: #254da5;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
*{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.App-logo {
  height: 30px;
  vertical-align: middle;
  pointer-events: none;
  background-color: #000;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.CurrencyTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  width: 1000px;
  height: 500px;
  border-radius: 12px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.363);
  margin: auto;
  background: linear-gradient(180deg, rgb(204, 222, 230) 0%, 25.0494%, rgb(207, 217, 226) 50.0988%, 75.0494%, rgb(235, 236, 239) 100%);
    background-image: linear-gradient(180deg, rgb(217, 229, 235) 0%, 25.0494%, rgb(230, 234, 237) 50.0988%, 75.0494%, rgb(232, 235, 244) 100%);
}

select {
  border: none;
  background-color: transparent;
  color: #000;
  width: 200px;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}

select>option {
  color: black;
  padding: 10px;
  border-bottom: 1px solid black;  
}

h3 {
  text-align: left;
  padding-left: 40px;
}

.timeline {
  color: #000;
  text-align: right;
  padding: 20px;
  font-style: italic;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-item > p {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

input {
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: #000;
  font-size: 24px;
  max-width: 150px;
}

.result {
  font-size: 30px;
}